/* Main Content */
body {
    background-image: url("images/eng_background.jpg");
    background-attachment: fixed;
    background-size: cover;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

header {
    background-color: #ccc;
    border-bottom: 5px solid #383f47;
    width: 100%;
    height: 200px;
    position: fixed;
    z-index: 1000;
}

.page-title {
    color: black;
    text-align: center;
    font-family: Verdana;
    font-size: 50px;
}

/* Navbar */
.navigation {
    height: 70px;
    background: #ccc;
    z-index: 1000;
    /*max-width: 1000px;*/
    margin: 0 auto;
    position: fixed;
    width: 100%;
    border-bottom: 5px solid #383f47;
  }
  
  .brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    font-size: 24px;
  }

  .brand a,
  .brand a:visited {
    color: #383f47;
    text-decoration: none;
  }
  
  /*.nav-container {
    max-width: 1000px;
    margin: 0 auto;
  }*/
  
  nav {
    float: right;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    float: left;
    position: relative;
    font-size: 24px;
  }

  nav ul li a,
  nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 65px;
    background: #ccc;
    color: #383f47;
    text-decoration: none;
  }

  nav ul li a:hover,
  nav ul li a:visited:hover {
    background: #383f47;
    color: #ccc;
    border-bottom: 5px solid #383f47;
  }

  nav ul li a:not(:only-child):after,
  nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
  }

  nav ul li ul li {
    min-width: 190px;
  }
  nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
  }
  
  .nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  }
  
  /* Mobile navigation */
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #ccc;
    height: 70px;
    width: 70px;
    border-bottom: 5px solid #383f47;
  }
  
  @media only screen and (max-width: 798px) {
    .nav-mobile {
      display: block;
    }
  
    nav {
      width: 100%;
      padding: 70px 0 15px;
    }
    nav ul {
      display: none;
    }
    nav ul li {
      float: none;
    }
    nav ul li a {
      padding: 15px;
      line-height: 20px;
    }
    nav ul li ul li a {
      padding-left: 30px;
    }
  
    .nav-dropdown {
      position: static;
    }
  }
  @media screen and (min-width: 799px) {
    .nav-list {
      display: block !important;
    }
  }
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #383f47;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
  
  article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
  }
  


#page-content-wrapper{
    width: 100%;
    height: 100%;	
    position: absolute;
    padding:15px;
    transition:all .5s;
    margin-top: 80px;
    z-index: -1;
}

/* Styling for Index Page */
.index-entry {
  border: 3px solid #383f47;
  padding: 5px;
  background-color: #ccc;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  border-radius: 25px;
}

.index-entry::after {
  content: "";
  clear: both;
  display: table;
}

.index-img {
  float: left;
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 50%;
}

.index-h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100px;
  text-align: center;
}

.index-p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

/* Styling for Experience Page */
.experience-entry img {
    display: block;
    margin: 10px;
    padding-top: 10px;
    float: left;
}

.experience-entry {
    background: #ccc;
    border: 5px solid #383f47;
    border-radius: 25px;
    width: 85%;
    margin-left: 7.5%;
    margin-bottom: 20px;
}

.experience-position {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
}

.experience-company {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    padding-left: 10px;
}

.experience-entry ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-left: 10px;
    padding-bottom: 10px;
    width: 80%;
}

.experience-location {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-top: 17px;
    padding-right: 10px;
    float: right;
    text-align: right;
}

/* Styling for Project Page */
.project-entry {
  background: #ccc;
  border: 5px solid #383f47;
  border-radius: 25px;
  width: 85%;
  margin-left: 7.5%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project-entry img {
  margin: 10px;
  padding: 10px;
  width: 250px;
  height: auto;
}

.project-name {
  font-size: 30px;
  padding: 10px 10px 0px;
}

.project-team {
  font-size: 25px;
  padding: 0px 10px 10px;
}

.project-entry p {
  font-size: 20px;
  padding: 10px;
}

@media screen and (max-width: 700px) {
  .project-entry {flex-wrap: wrap;}
}

/* Styling for About Page */
.about-entry {
  border: 3px solid #383f47;
  padding: 20px;
  background-color: #ccc;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 20px;
  border-radius: 25px;

}

.about-h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 60px;
  text-align: center;
  text-decoration: underline solid;
}

.about-h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}

.about-entry li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.about-entry p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}